@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Krótka 12<br />
    Legnica, PL 59-220<br />
    <abbr title="Phone">T:</abbr>
    (76) 811-81-81
</address>

<address>
    <strong>Administracja:</strong> <a href="mailto:moltomasz91@gmail.com">Administracja</a><br />
</address>
